<div class="login-box">
  <h2>Inicio de Sesión</h2>
  <form [formGroup]="formInicioSesion" (ngSubmit)="iniciarSesion()">
    <div class="acceso">
      <p>**Claves de acceso**</p>
      <p><i>usuario: lucia@mail.com</i></p>
      <p><i>contraseña: 12345</i></p>
    </div>
    <div class="user-box">
      <label>Correo</label>
      <input type="text" name="email" formControlName="email" />
    </div>
    <div class="user-box">
      <label>Contraseña</label>
      <input type="password" name="password" formControlName="password" />
    </div>
    <div class="form-btn">
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Iniciar Sesión
      </button>
    </div>
  </form>
  <div class="bottom-form">
    <p>No tienes cuenta?</p>
    <a href="/registro">Regístrate</a>
  </div>
</div>
