<nav class="navBar">
  <div class="logoC">
    <img class="logo" src="./assets/img/logo.jpg" alt="logo" />
  </div>
  <ul>
    <li><a routerLink="masPopulares" routerLinkActive="linkA" >Más Populares</a></li>
    <li><a routerLink="masDescargados" routerLinkActive="linkA">Más Descargados</a></li>
    <li><a routerLink="proximamente" routerLinkActive="linkA">Próximamente</a></li>
    <li><a routerLink="agregarJuego" routerLinkActive="linkA">Agregar</a></li>
  </ul>
  <div class="buttonC">
    <button
      class="button"
      (click)="salir()">
      Salir
    </button>
  </div>
</nav>
